<html>
<head>
    <title>Ping Pong Generator!</title>
</head>

<body>
    <h1>Ping Pong Generator</h1>
    <p>Please enter an integer</p>

    <form action="/view_ping_pong">
        <label for="number">Enter an integer</label>
        <input name="number" id="number" type="text">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
